<div class="kuiLocalDropdownPanels">
  <!-- Left panel -->
  <div class="kuiLocalDropdownPanel kuiLocalDropdownPanel--left">
    <!-- Title -->
    <h2
      data-test-subj="shareUiTitle"
      class="kuiLocalDropdownTitle"
    >
      {{ 'SHARE.TITLE' | translate:{
        objectType: (share.objectType | i18nT:'SHARE')
      } }}
    </h2>

    <!-- Help text -->
    <div ng-if="share.urls.original" class="kuiLocalDropdownHelpText">
      {{ 'SHARE.DROPDOWNHELPTEXT' | translate:share }}
    </div>

    <div ng-if="!share.urls.original" class="kuiLocalDropdownWarning">
      {{ 'SHARE.DROPDOWNWARNING' | translate:share }}
    </div>

    <div ng-if="share.urls.original">
      <!-- iframe -->
      <div class="kuiLocalDropdownSection" ng-if="share.allowEmbed">
        <!-- Header -->
        <div class="kuiLocalDropdownHeader">
          <label
            id="originalIframeUrlLabel"
            class="kuiLocalDropdownHeader__label"
            for="originalIframeUrl"
          >
            {{ 'SHARE.EMBEDDEDIFRAME' | translate }}
          </label>
          <div class="kuiLocalDropdownHeader__actions">
            <a
              aria-describedby="originalIframeUrlLabel"
              class="kuiLocalDropdownHeader__action"
              ng-click="share.copyToClipboard('#originalIframeUrl')"
              kbn-accessible-click
            >
              {{ 'SHARE.COPY' | translate }}
            </a>
          </div>
        </div>

        <!-- Input -->
        <input
          id="originalIframeUrl"
          aria-describedby="originalIframeUrlHelpText"
          class="kuiLocalDropdownInput"
          type="text"
          readonly
          value="{{share.makeIframeTag(share.urls.original)}}"
        />

        <!-- Notes -->
        <div
          id="originalIframeUrlHelpText"
          class="kuiLocalDropdownFormNote"
        >
          {{ 'SHARE.DROPDOWNFORMNOTE' | translate }}
        </div>
      </div>

      <!-- Link -->
      <div class="kuiLocalDropdownSection">
        <!-- Header -->
        <div class="kuiLocalDropdownHeader">
          <label
            id="originalUrlLabel"
            class="kuiLocalDropdownHeader__label"
            for="originalUrl"
          >
            {{ 'SHARE.LINK' | translate }}
          </label>
          <div class="kuiLocalDropdownHeader__actions">
            <a
              aria-describedby="originalUrlLabel"
              class="kuiLocalDropdownHeader__action"
              ng-click="share.copyToClipboard('#originalUrl')"
              kbn-accessible-click
            >
              {{ 'SHARE.COPY' | translate }}
            </a>
          </div>
        </div>

        <!-- Input -->
        <input
          id="originalUrl"
          class="kuiLocalDropdownInput"
          type="text"
          readonly
          value="{{share.urls.original}}"
        />
      </div>
    </div>
  </div>

  <!-- Right panel -->
  <div class="kuiLocalDropdownPanel kuiLocalDropdownPanel--right">
    <!-- Title -->
    <h2 class="kuiLocalDropdownTitle">
      {{ 'SHARE.SHARESNAPSHOT' | translate }}
    </h2>

    <!-- Help text -->
    <div class="kuiLocalDropdownHelpText">
      {{ 'SHARE.DROPDOWNHELPTEXT2' | translate:share }}
    </div>

    <!-- iframe -->
    <div class="kuiLocalDropdownSection" ng-if="share.allowEmbed">
      <!-- Header -->
      <div class="kuiLocalDropdownHeader">
        <label
          id="snapshotIframeUrlLabel"
          class="kuiLocalDropdownHeader__label"
          for="snapshotIframeUrl"
        >
          {{ 'SHARE.EMBEDDEDIFRAME' | translate }}
        </label>
        <div class="kuiLocalDropdownHeader__actions">
          <a
            aria-describedby="snapshotIframeUrlLabel"
            class="kuiLocalDropdownHeader__action"
            ng-if="!share.urlFlags.shortSnapshotIframe"
            ng-click="share.toggleShortSnapshotIframeUrl()"
            kbn-accessible-click
          >
            {{ 'SHARE.SHORTURL' | translate }}
          </a>

          <a
            aria-describedby="snapshotIframeUrlLabel"
            class="kuiLocalDropdownHeader__action"
            ng-if="share.urlFlags.shortSnapshotIframe"
            ng-click="share.toggleShortSnapshotIframeUrl()"
            kbn-accessible-click
          >
            {{ 'SHARE.LONGURL' | translate }}
          </a>

          <a
            aria-describedby="snapshotIframeUrlLabel"
            class="kuiLocalDropdownHeader__action"
            ng-click="share.copyToClipboard('#snapshotIframeUrl')"
            kbn-accessible-click
          >
            {{ 'SHARE.COPY' | translate }}
          </a>
        </div>
      </div>

      <!-- Input -->
      <input
        id="snapshotIframeUrl"
        aria-describedby="snapshotIframeUrlHelpText"
        class="kuiLocalDropdownInput"
        type="text"
        readonly
        value="{{share.urlFlags.shortSnapshotIframe ? share.makeIframeTag(share.urls.shortSnapshotIframe) : share.makeIframeTag(share.urls.snapshot)}}"
      />

      <!-- Notes -->
      <div
        id="snapshotIframeUrlHelpText"
        class="kuiLocalDropdownFormNote"
      >
        {{ 'SHARE.DROPDOWNFORMNOTE2' | translate }}
      </div>
    </div>

    <!-- Link -->
    <div class="kuiLocalDropdownSection">
      <!-- Header -->
      <div class="kuiLocalDropdownHeader">
        <label
          id="snapshotUrlLabel"
          class="kuiLocalDropdownHeader__label"
          for="snapshotUrl"
        >
          {{ 'SHARE.LINK' | translate }}
        </label>
        <div class="kuiLocalDropdownHeader__actions">
          <a
            aria-describedby="snapshotUrlLabel"
            data-test-subj="sharedSnapshotShortUrlButton"
            class="kuiLocalDropdownHeader__action"
            ng-if="!share.urlFlags.shortSnapshot"
            ng-click="share.toggleShortSnapshotUrl()"
            kbn-accessible-click
          >
            {{ 'SHARE.SHORTURL' | translate }}
          </a>

          <a
            aria-describedby="snapshotUrlLabel"
            class="kuiLocalDropdownHeader__action"
            ng-if="share.urlFlags.shortSnapshot"
            ng-click="share.toggleShortSnapshotUrl()"
            kbn-accessible-click
          >
            {{ 'SHARE.LONGURL' | translate }}
          </a>

          <a
            aria-describedby="snapshotUrlLabel"
            data-test-subj="sharedSnapshotCopyButton"
            class="kuiLocalDropdownHeader__action"
            ng-click="share.copyToClipboard('#snapshotUrl')"
            kbn-accessible-click
          >
            {{ 'SHARE.COPY' | translate }}
          </a>
        </div>
      </div>

      <!-- Input -->
      <input
        data-test-subj="sharedSnapshotUrl"
        id="snapshotUrl"
        aria-describedby="snapshotUrlHelpText"
        class="kuiLocalDropdownInput"
        type="text"
        readonly
        value="{{share.urlFlags.shortSnapshot ? share.urls.shortSnapshot : share.urls.snapshot}}"
      />

      <!-- Notes -->
      <div
        id="snapshotUrlHelpText"
        class="kuiLocalDropdownFormNote"
      >
        {{ 'SHARE.DROPDOWNFORMNOTE3' | translate }}
      </div>
    </div>
  </div>
</div>
