<dashboard-app
  class="app-container dashboard-container"
  ng-class="{'dashboard-container-with-margins': model.useMargins}"
>
  <!-- Local nav. -->
  <kbn-top-nav name="dashboard" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>
      <!-- Title. -->
      <div
        data-transclude-slot="topLeftCorner"
        class="kuiLocalBreadcrumbs"
        data-test-subj="breadcrumbs"
        role="heading"
        aria-level="1"
      >
        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="{{landingPageUrl()}}">{{'Dashboard' | translate}}</a>
        </div>
        <div class="kuiLocalBreadcrumb">
          {{ getDashTitle() }}
        </div>
      </div>

      <!-- Search. -->
      <div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
        <query-bar
          query="model.query"
          app-name="'dashboard'"
          on-submit="updateQueryAndFetch($query)"
        >
        </query-bar>
      </div>
    </div>
  </kbn-top-nav>

  <!-- Filters. -->
  <filter-bar
    ng-show="showFilterBar()"
    state="state"
    index-patterns="indexPatterns"
    ng-if="model.query.language === 'lucene'"
  ></filter-bar>

  <div
    ng-show="getShouldShowEditHelp()"
    class="text-center start-screen"
  >
    <h2 class="kuiTitle kuiVerticalRhythm">
      {{ 'DASHBOARD.APPEMPTY-TITLE' | translate | trusted }}
    </h2>

    <p class="kuiText kuiVerticalRhythm">
      {{ 'DASHBOARD.APPEMPTY-TEXT-CLICK' | translate }} <a kbn-accessible-click class="kuiButton kuiButton--primary kuiButton--small" ng-click="showAddPanel()" aria-label="Add visualization">{{ 'ADD' | translate }}</a> {{ 'DASHBOARD.APPEMPTY-TEXT-ADDVIS' | translate }} <br/>{{ 'DASHBOARD.APPEMPTY-TEXT-IFUHAVEVIS' | translate }}  <a class="kuiLink" href="#/visualize">{{ 'DASHBOARD.APPEMPTY-TEXT-VISITVISAPP' | translate }}</a> {{ 'DASHBOARD.APPEMPTY-TEXT-CREATEVIS' | translate }}
    </p>
  </div>

  <div ng-show="getShouldShowViewHelp()" class="text-center start-screen">
    <h2 class="kuiTitle kuiVerticalRhythm">
      {{ 'DASHBOARD.VIEWHELP-TITLE' | translate | trusted }}
    </h2>

    <p class="kuiText kuiVerticalRhythm">
      {{ 'DASHBOARD.VIEWHELP-TEXT1' | translate }} <a kbn-accessible-click class="kuiButton kuiButton--primary kuiButton--small" ng-click="enterEditMode()">{{ 'EDIT' | translate }}</a> {{ 'DASHBOARD.VIEWHELP-TEXT2' | translate }}
    </p>
  </div>

  <dashboard-viewport-provider
    get-container-api="getContainerApi"
    get-embeddable-factory="getEmbeddableFactory"
    t="t"
  >
  </dashboard-viewport-provider>

</dashboard-app>
